
label{
    margin-bottom:0px !important;
}

/*.error{
    border:1px solid #FF717A;
}*/

.hcvError{
          background: #FF717A;
    color: #fff;
    /*position: absolute;*/
    /*left: -38%;*/
    /*top: 53%;*/
    margin: 9px 0px;
    padding: 3px;
    /*width: 134.5%;*/
}
#hcv_results span{
    color:#fff !important;
    font-size:11px;
}
#details_table .ver_code {
	position: absolute;
	top: -24px;
	left: 15px;
	width: 100%;
}
#details_table .form-group{position:relative;overflow:hidden;}
#details_table label{/*margin-right:10px;*/}
/*#claim_health_num{width:76% !important;}*/
.exp_date{width:70%;float:left;}
/*#claim_version_code{width:100% !important;}*/
#validateButton {
	position: absolute;
	top: 0;
	right: 0px ;
	min-height: 34px;z-index:1;
}
.sex_select{
    width: 36%;
    position: absolute !important;
    right: 0;
}
/*#s2id_claim_doctor_id,#s2id_claim_third_party_id{width:74% !important;}*/
/*#s2id_claim_province{
    width:96% !important;
}*/
#patient_profile_button{
	padding: 10px;
	/*margin-top: 0px;*/
	display: inline-block;
	position: absolute;
	/*width: auto;*/
	/*padding-top:8px;*/
}

.zoom_btn{position: absolute;
right: 30px;
top: 17px;cursor: pointer;}


/*25-jan-2018*/


.noPadding {
	padding-left:0px;
	padding-right:0px;
}
.labelRight {
	text-align : right;
}
.expiryDateDiv #s2id_claim_sex {
	width:45% !important;
	float: right;
}
.patientNumber {
	width:100% !important;
}
.labelFont {
	font-size: 12px !important;
	text-align: right;
	padding-right: 5px;
	/*padding-top: 8px;*/
}
.labelFont1 {
	font-size: 12px !important;
	text-align: right;
	padding-right: 5px;
}

.claimTable1 {
	height:45px;
}
.billingLabel {
	margin-right:10px;
}
.input-mask-date {
	/*width : 65% !important;*/
	display : inline !important;
}
.claimType {
	width : 35% !important;
}
.defaultimage {
    text-align: right;
    margin-top: -2px;
}
.defaultimage img{
	width:35px;
}
.defaultHumanImageDiv {
	text-align:right;
}
.defaultHumanImage {
	width: 80%;
	margin-top: 33px;
}
.patientProfile {
	background:rgb(66, 139, 202);
	height: 34px;
	color:#fff;
	font-size: 12px;
	text-align: center;
}
.patientProfile button {
	padding: 0px;
	white-space: normal;
}
.customLabel label {
	margin:0px;
}
.select2-drop.select2-display-none.select2-with-searchbox.select2-drop-active {
	width:auto !important;
}

.manualReview {
	margin-top:0px;
}
.manualReview label {
	/*margin-left:5px;*/
}
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D3EEF5;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 0px;
   font-weight: 700;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 0;
}

input:checked + .slider {
  background-color: rgb(66, 139, 202);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'N';
 color: #000;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'Y';
   color: #fff;
}

/*--------- END --------*/


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.backgroundColorDiv {
	background:#EDF9FC;
	padding-top: 6px;
}
.backgroundColorDivBorder {
/*
	border-left: 1px solid #DDDDDD;
	margin-left: 2px;
	margin-right: -2px;
*/
}
.labelFontYear {
	float:right;
}
#age {
	float : right;
	padding-top: 8px;
}
#details_table {
	padding : 0px 15px ;
} 
.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}
/*.claimTablePadding {
	padding-top:10px;
}*/
.select2-container .select2-choice {
	text-align : left;
}
.help-block {
	margin-top: 0px !important;
}

@media screen and (max-width:767px) {

}

@media screen and (max-width: 991px) and (min-width: 768px) {

}

@media screen and (max-width: 1100px) and (min-width: 768px) {



}

@media screen and (max-width: 1100px) and (min-width: 992px) {

}

@media screen and (max-width: 1099px) and (min-width: 1000px) {

}



@media screen and (min-width: 1600px) { 
	.defaultHumanImage {
		margin-top: 10px;
		width: 80px
	}
}


.skH34 {
    height: 34px;
}
