/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Feb, 2018, 4:32:30 PM
    Author     : sunil
*/

select {

    background:#fff;
    padding:5px;
    margin:2px;

}

.custom_control{
    padding:3px 0px;
}
.marLeft2{
    margin-left:2px;
}

/*// work schdule form*/
#form_table thead{
    color:#444;
}
#form_table tbody{
    color:#858585;
    font-size:12px;
}
#form_table td,th{
    padding:0px 2px;
}