/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Feb, 2018, 12:13:27 PM
    Author     : sunil
*/
.DTGlobal {
    border:1px #e3e3e3 solid;
    padding: 5px;
}
.DTGlobal th{
    font-size: 12px ;
    color:#444;
    padding:2px 5px;
    white-space: unset !important;
}
.DTGlobal td{
    font-size: 12px ;
    color:#444;
    padding:2px 5px;
    white-space: unset !important;
}
.DTGlobal ul{
    padding-left:15px;
}


.dataTables_info {
    /*margin-left:50px !important;*/
    /*padding-left:50px !important;*/
}


.actionButtonsDiv .dt-buttons{
    float:left;
}
.table-fixed{
    width: 100%;
    background-color: #f3f3f3;
    tbody{
        height:200px;
        overflow-y:auto;
        width: 100%;
    }
    thead,tbody,tr,td,th{
        display:block;
    }
    tbody{
        td{
            float:left;
        }
    }
    thead {
        tr{
            th{
                float:left;
                background-color: #f39c12;
                border-color:#e67e22;
            }
        }
    }
}

.skfw700{
    font-weight: 700;
}
.skmb0{
    margin-bottom: 0px !important;
}
.sk2mar{
    margin:2px !important
}
#panel_tab5_example1 label, #panel_tab5_example2 label{
    text-align:left !important;
}
#past_claims_results_table_paginate{
    /*float:none !important;*/
    text-align: left !important;
}
table.dataTable tbody tr td {
    word-wrap: break-word;
    /* word-break: break-all; */
}
table.dataTable tbody tr th {
    word-wrap: break-word;
    /* word-break: break-all; */
}
.select2-container .select2-choice > .select2-chosen{
    margin-right:12px !important;
    
}
.select2-container .select2-choice{
    padding:0px 5px !important;
}
/*#past_claims_results_table thead tr th{
    padding:0px 20px 0px 0px !important;
}
#past_claims_results_table td{
    font-size:12px !important;
}
#past_claims_results_table th{
    font-size:14px !important;
}*/

#past_claims_results_table td{
    font-size:12px;
}
#past_claims_results_table th{
    font-size:12px;
}
.select2-container .select2-choice abbr{right:2px !important;}

.dataTables_length{
    float:right !important;
    margin-top:3px;
}
.dt-buttons{
    float:right;
}
.TextWhite a{color:#fff;}

.cursorPointer{
    cursor:pointer;
}
.input-group-addon{background:#fff !important;}

.breaker{
    margin:10px;
}



.filterTR th{
    padding:5px 0px !important;
}

.edit_checkbox{
    padding : 5px 0px !important;
}
#past_claims_results_table_form.claim_status{
    font-size: 10px !important;
}

.highlight{
    background: #f6f6f6;
}
.entireClickable{
    cursor: pointer;
}
#past_claims_results_table_info{
    clear:none;
    margin-left:20px !important;
}

.CHKcontainer {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.CHKcontainer input {
    position: absolute;
    opacity: 0;
    left:0px;
    cursor: pointer;
}

/* Create a custom checkbox */
.CHKcheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #d9edf7;
}

/* On mouse-over, add a grey background color */
.CHKcontainer:hover input ~ .CHKcheckmark {
    background-color: #bce8f1;
}

/* When the checkbox is checked, add a blue background */
.CHKcontainer input:checked ~ .CHKcheckmark {
    background-color: #0078AF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.CHKcheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.CHKcontainer input:checked ~ .CHKcheckmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.CHKcontainer .CHKcheckmark:after {
    left: 7px;
    top: 2px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* color: #3a87ad;
background-color: #d9edf7;
border-color: #bce8f1; */
.actions_button{
    padding: 2px 5px;
    border-radius:  50%;
    box-shadow: 2px 2px 5px #000;
    color:#fff !important;
    margin-right:10px;
    margin-bottom:5px;
}
.actions_button:hover{
    box-shadow: 0px 0px 0px #fff;
}

.fs{
    font-size:12px !important;
}