.noPadding{
    padding:0px !important;
    display:inline !important;  
}
.noMargin{
    margin:0px !important;
}
.fs12{
    font-size:12px;
}
.inVersionCode{
    /*float:left;*/
}
.btnValidate{
    height:34px;
}
.txtVersion{
    position: absolute;
    top:-20px;
    /*left:100px;*/
    left: 135px;
	width: 90px;
}

.form-group label {
    text-align: right;
    margin-bottom:0px;
    /*padding-right:5px;*/
    padding-right:4px;
}


div#age{
    padding:10px;
    float:left;
    width:6.5em;
}

.skH34{
    height:34px;
}

.addrLabel{
    width:12%;
    float:left;
}

.skMar2{
    margin:4px;
}

.labelPostal{
    width:37%;
    float:left;
}

.addrLabelCopy{
    width:48%;
    float:left;
}


/* 24-01-18*/
/*
#patient_hcn_num{
	display:inline;
	width: 100% !important;
}

#patient_hcn_version_code{
	display: inline;
margin: -1vh;
	margin:0;
	width: 30px !important;
}*/
/*
#hcv_button{
	display: inline;
	padding: 7px 5px;
}
.mergeRISblock{
	padding:0;
}
.mergeRISblock label{
	float:left;
	margin-right: 5px;

}
.expdateblock{
	padding-left:0;
}
#patient_hcn_exp_year{
	
}
#patient_patient_number{
	width: 48%;
}
.pidboxtext{
	text-align:right;
}
.chartboxtext{
	text-align:right;
}
.expblock1{
	padding-left:0;
	padding-right: 0;
}
.expblock2{
	padding-left: 0;
}
.notetextblock{
	text-align:center;
}
.paddingwithright{
	text-align:right;
}
.attendeetextblock{
	font-size:11px;
}
#patient_facility_description{
	display: inline;
}
.facilitytextspan{
	display: inline;
}
#patient_ref_doc_description{
	display: inline;
}
.referringmbspanblock{
	display: inline;
}
#search_ref_doc, #search_facility, #search_fam_doc {
	height: 34px;
	width:100%;
}
.customadjustlabel{
	width: 11.5%;
	text-align: right;
}
.customadjustlfield{
	width: 88.5%;
	padding-left: 3px !important;
}
.customcarelabeltext{

	text-align: left;
}
.expspaceadjust{
	padding-right:0 !important;
}
.paddingadjustattendee{
	text-align: right;
	padding-right: 7px !important;
}
.dummyimage{
	text-align:center;
	margin-top:15px;
}
.heightadjustedUI{
	height: 49px;
}
.heightadjustedUI input[type="text"]{
	height:34px;
}
.mobileviewonly{
	display:none;
}
.mobileshow{
	display:none;
}
.DataTableVacation4 {
	width:98.7% !important;
}

.provincialHN {
	width:100%;
}
.minHeight {
	padding:0px 15px;
	min-height:75px;
}
.select2-container .select2-choice {
	text-align : left;
}
.help-block {
	margin-top: 0px !important;
}
.labelTop{
	padding-top:8px !important;
}
.customLabel label {
    margin: 0px;
}
.labelRight {
    text-align: right;
}
#patient_hcn_num {
    width: 50% !important;
    display: inline;
}
#patient_hcn_version_code {
    width: 27% !important;
    float: left;
    margin-left: 117px;
    margin-top: -34px;
}
#validateButton {
    position: absolute;
    top: 0;
    right: 0px;
    min-height: 34px;
    z-index: 1;
}
.labelFont1 {
	text-align:right;
	padding-right:15px !important;
}




@media screen and (max-width: 767px){
	.paddingwithright{
		padding:0;
	}
	.txtVersion{
		display:none;
	}
	.heightadjustedUI{
		height:auto;
	}
	.chartboxtext, .pidboxtext, .customadjustlabel, .notetextblock{
		padding:0;
	}
	.customadjustlabel{
		width:auto;
	}
	.expspaceadjust, .reasontextblock{
		padding:0px ;
		display:inline ;
	}
	.datetext{
		display:none;
	}
	.mobileviewonly{
		display:block;
		display: inline;
		font-size: 12px;
	}
	.mobileshow{
		display:block;
	}
	.referingmdtext{
		padding:0;
	}
	.mobileDisplay {
		display:none;
	}
	.minHeight2 {
		height:auto;
		min-height: auto;
		padding: 0px;
	}
	.labelTop{
		padding-top:0px !important;
	}
	.labelFont1 {
		text-align:left;
		padding-right:15px !important;
	}
	.labelRight {
		text-align: left;
	}

}

@media screen and (min-width: 768px) {
	.col-sm-6, .col-md-4{
		height:49px;
	}
	.dummyimage{
		margin-top:0;
		
	}
	.emptyblock{
		display:none;
	}
	.customadjustlabel{
		width:25%;
	}
	.customadjustlfield{
		width:75%;
	}
	.customcarelabeltext{
		padding:0;
	}
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	.mobileDisplay {
		display:none;
	}
}

@media screen and (min-width: 1024px)  and (max-width: 1026px){
	#patient_facility_description, #patient_ref_doc_description{
		width: 78% !important;
	}
	.referingmdtext{
		padding:0;
	}
	.customadjustlabel{
		width: 11.5%;
		text-align: right;
	}
	.customadjustlfield{
		width: 88.5%;
		padding-left: 3px !important;
	}
	.customcarelabeltext {
		padding: 0 15px;
	}

}

@media screen and (min-width: 1000px)  and (max-width: 1099px){
	#patient_hcn_version_code {
		width: 13% !important;
		float: left;
		margin-left: 80px;
		margin-top: -34px;
	}
	.labelTop {
		padding-top: 8px !important;
		padding: 0px !important;
		text-align: left !important;
	}
	.paddingwithright {
		text-align: left;
		padding: 0px;
	}
	.labelFont1 {
		text-align: left;
	}
	
}

@media screen and (min-width: 1100px){
	.emptyblock{
		display:block;
	}
	.dummyimage{
		margin-top:15px;
	}
	.customadjustlabel{
		width: 11.5%;
		text-align: right;
	}
	.customadjustlfield{
		width: 88.5%;
		padding-left: 3px !important;
	}
	.customcarelabeltext{
		padding:0 15px;
	}
	.paddingadd{
		padding:0 15px !important;
		text-align: right;
	}
	.referingmdtext{
		padding:0;
	}
	.hcnlabel{
		padding:0 !important;
		padding-right:12px !important;
		text-align:right;
	}
}

@media screen and (min-width: 1400px){
	.paddingadd{
		padding:0 15px !important;
		text-align: right;
	}
	.referingmdtext{
		padding:0;
	}
	.dobtext{
		padding:0;
		text-align:left;
	}
	.hcnlabel{
		padding:0 !important;
		padding-right:0 !important;
		text-align:left;
	}
}

@media screen and (min-width: 1600px){
	#hcv_button{
	margin-left: -1vh;
	}
}

@media screen and (min-width: 1900px){
	#hcv_button{
	margin-left: -3vh;
	}
}
*/
