.filterTR th:first-child div{
	visibility: hidden;
	width:0px !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
	top:27% !important;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 5px 10px 5px 0px;
}
.selectRsltTbl {
	width:100%!important;
	padding-right: 0px;
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
	max-width: 91px;
	-moz-user-select: none;
	white-space: normal;
}
th, tr, td {
	font-size:10px;
	color:#444;
}
.select2-drop {
    width: auto !important;
   }
.select2-focusser  {
	font-size:12px !important; 
	white-space: nowrap;
	
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 3px;
}
table.dataTable tbody tr td {
    word-wrap: break-word;
    
}
#tablesorter1_info {
    clear: none;
    margin-left: 20px !important;
}
#tablesorter1_paginate {
    float: right !important;
    text-align: left !important;
}
#tablesorter1_length {
	float: right ;
}
.customWellTable {
    border-radius: 1px;
    border: 1px solid #e3e3e3;
    padding: 10px 0px;
}
.customWell {
    margin-top: 20px;
    margin-bottom: -7px;
    padding: 10px !important;
    border-radius: 1px;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #e3e3e3 !important;
}

@media screen and (max-width : 400px) {
	#patient_title {
		font-size:32px;
	}
}
body {
	overflow-x:hidden;
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
    /*margin-right: 0px !important;*/
}
.select2-container .select2-choice {
	padding: 0px !important;
}
.select2-container .select2-choice > .select2-chosen {
    margin: 0px 10px;
    white-space: normal;
    display: block;
    overflow: none;
    white-space: none;
    text-overflow: none;
}
.select2-container .select2-choice .select2-arrow {
	display:none;
}
.select2-container .select2-choice abbr {
    right: 10px !important;
}
.odd {
	background-color: #F5F5F5 !important;
}
