/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Oct, 2017, 11:31:01 AM
    Author     : sunil
*/
table.dataTable>tbody>tr.child ul.dtr-details>li:first-child{padding-top:7px !important;}
.side_text_div{
float: right;
/*margin-right: 146px;*/
width: 32%;
}
.side_text_div1{
    display: inline-flex;
}
.side_text_i{
    font-size: 35px;font-weight: bold;margin-top: -10px;padding-right: 8px;
}
.side_text{
    font-size: 14px;
}
.side_text2{
    font-size: 50px;padding-left: 20px;padding-top: 15px;padding-right: 22px;font-weight: bold;
}
.side_text1{
    font-size: 14px;padding-left: 20px;padding-top: 15px;padding-right: 22px;
}
.radio_list{
    margin-top: -5px;
    text-align: left;
    float: left;
}
.radio_list li{
    line-height: 2px;
    text-align: left;
    position: relative;
    left: -23px;
}

.lbl_custom{
    position: absolute;
    bottom:31px;
    left: 10px;
    display: inline-block;
    background-color:white;
    color:grey;
    padding-right: 5px;
    padding-left: 5px;
}

.lbl_div{
    position:relative;height:50px;
}


.cursor{cursor: pointer;}
.footer ul{
    list-style-type: none;
    display: inline;
    padding:0px;
}
.hasDatepick{border-radius: 0px !important;}
/*.ui-datepicker-current-day{background-color:#47a447 !important}*/
.ui-datepicker-current-day a{background-color:#005cca !important;color:#fff !important;border-radius: 4px}
.skdateprebtn{
    text-align: center;
    padding:6px;
    text-decoration: none;
}
.skdateprebtn:hover{
    background:#eee;
    cursor:pointer;
}
    
.footer li{
    display:inline;
    padding:0px 10px;
    border-right: 1px #aaa solid;
}

.ui-widget-overlay, .ui-dialog{
    z-index: 9000;
}

.from-control{border-radius: 0 !important;}
.ui-dialog 
{
/*top:10% !important;*/
}
div.timepicker{z-index: 9999;}

.input-group-btn button{border:1px #ccc solid !important;}
.ui-widget-overlay{
    position: fixed !important;
}
.main-navigation{
    z-index: 100 !important;
}
.ui-datepicker{border : 1px #aaa solid !important;}
.sk-margin-bottom-10{
    margin-bottom: 10px;
}
.sk-nomargin{
    margin:0px !important;
}
.sk-select{
        padding: 5px;
        background-color: #fff;
}

.ui-dialog{
    padding:0px !important;
    border-radius: 0px !important;
    font-family: 'Raleway', 'sans-serif' !important;
}
.ui-corner-all{
    border-radius: 0px !important;
}

.wc-settings:hover{cursor: url}
.wc-nav .ui-icon{float: left !important;}
.wc-nav .ui-button-text-icon-primary, .ui-icon{margin-top:0px !important}
.wc-nav .ui-button-text{float: right !important;}
/*.wc-nav button{border-radius: 0px !important; border: 1px #aaa solid !important; padding:5px}*/

.wc-nav .btnPrevious{
    border:1px #666 solid !important;
    border-radius: 5px !important;
    border-bottom-right-radius:0px !important;
    border-top-right-radius:0px !important;
}
.wc-nav .wc-next{
    border:1px #666 solid !important;
    border-radius: 5px !important;
    border-bottom-left-radius:0px !important;
    border-top-left-radius:0px !important;
}
.wc-today, .wc-month, .wc-calendar{
    border:1px #666 solid !important;
    border-radius: 5px !important;
    margin-left:5px;
}
.wc-display>.btn-group>a{
    border:1px red solid !important;
}
.wc-display>.btn-group>a:first-child{
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.wc-display>.btn-group>a:last-child{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.wc-header table td{
    border:0px !important;
}
.wc-header .wc-today{
    color:#000 !important;
    font-weight: normal !important;
}
.wc-scrollable-grid .wc-day-column-first{
    border:1px #eee solid !important;
}
.wc-time-header-minute-cell{
    text-align:left !important;
}
.skwidget{
        border: 1px solid #3a87ad;
    background-color: #3a87ad;
    color: #fff;
    font-size: .85em;
    cursor: default;
    border-radius: 3px !important;
}
.skcallabel label{
    border:1px #444 solid !important;
    background:#fff !important;
}
.wc-switch-display-1{
    border-bottom-left-radius:5px !important;
    border-top-left-radius:5px !important;
}
.wc-switch-display-7{
    border-bottom-right-radius:5px !important;
    border-top-right-radius:5px !important;
}
radio_list ul li, .pro-ul-li ul li {
    list-style-type: none;
    display: inline;
}
.sk-ulli ul li{
    list-style-type: none !important;
}

input[type=radio] {
    width:15px;
    height:15px;
}
input[type=checkbox] {
        width: 16px;
    height: 16px;

}
input >  .error{
    border:1px #a94442 solid !important; 
}
.navbar > .container .navbar-brand, .logo{
    padding:5px 10px 12px !important;
}
/*.error_list li {list-style-type: none;color:red;}*/
.sk5mar{margin:5px;}
.clickable_row{cursor: pointer}

    @media screen and (max-width: 360px) {
    #hl7TableSrs  td, #hl7TableSrs th{
        display:block !important;
    }
    #triggerButtonsTable td {
        display:block !important;
    }
}

body {font-size:14px;}
.custom-logo {
	padding: 5px 0px 15px !important;
}
.custom-logo img {
	width: 550px;
	margin-left: -70px;
}
.customlogo2 img{
	width: 110px;
}
.customlogo2 {
	padding:20px!important;
}

@media (max-width:320px){
.custom-logo img {
	width: 310px;
	margin-left: -10px;
}

}


@media (min-width:321px) and (max-width: 359px) {
	.custom-logo img {margin-left:-12px;width: 330px;}
}

@media (min-width:360px) and (max-width: 374px) {
	.custom-logo img {margin-left:-10px;width: 355px;}
}

@media (min-width:375px) and (max-width: 399px) {
	.custom-logo img {margin-left:-10px;width: 375px;}
}

@media (min-width:400px) and (max-width: 767px) {
	.custom-logo img {margin-left:-10px;width: 390px;}

}

@media (min-width:768px) and (max-width: 979px) {
	.custom-logo img {margin-left:-45px;width: 310px;}
}

@media (min-width:980px) and (max-width: 1020px) {
	.custom-logo img {margin-left:-45px;width: 380px;}
}
