/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Dec, 2017, 11:43:02 AM
    Author     : sunil kashyap
*/

.clipErrorLabel{
    font-size: 10px;
    color:red;
}

.cliponeErrorInput{
    border:1px solid #a94442 !important;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
    width: 43% !important;
}

.messages-box{
    height:350px;
}
/*Heading & Breadcrumb*/
.ui-dialog .ui-dialog-content{
    overflow-y:auto !important;
    overflow-x:hidden !important;
}
.breadcrumbul {
    list-style-type: none;
    float:right;
    font-size:14px;
}
.radio_list{width:100% !important;}
.breadcrumbul>li {
    display:inline-block;
    padding:10px 0px;
    letter-spacing:normal;
}
.breadcrumbul>li+li:before {
    content: "\25CF";
    padding: 0 5px;
    color: #ccc;
}
.page-header{border:none !important;}
.breadcrumbul li {font-weight: 500;}


.hasDatepicker{
    color:#858585 !important;
}

/*.panel-body{padding:0px !important;}*/
.ui-tabs .ui-tabs-panel{margin:0px !important}

.select2-container .select2-choice > .select2-chosen{color:#858585;}
.help-block{font-size:10px !important}


.paginate_button:hover{
    background-color:#007aff;
}

/*.error_list{
    font-size: 12px;
}*/

.DTsearchlabel{
    /* float: right; */
    position: absolute;
    top: 15%;
    right: 8%;
    font-size: 20px;
    color: #858585;
}
    

.dt-buttons span{
    color:#fff;
}

.noborder{
    border:0px !important;  
    box-shadow: none;
}
.blankformgroup{
    height:79px;
}

@media only screen and (max-width: 770px) {
.blankformgroup{
    height:0px;
}
}