
#relatedTitle small {
    color: #717171;
}

.childrenFound a {
    cursor: copy;
}

/* mouse over link */
.childrenFound a:hover {
    color: #ff4758;
}





.yellowBox {
    margin-bottom: 0.2em;
    display: block;
    background-color: yellow;
    width: 10px;
    height: 10px;
    border: black 1px solid;
}

.yellowBox p {
    color: #717171;
    margin-left: auto;
    padding-left: 15px;
    width: 300px;
}

.greenBox {
    margin-bottom: 0.2em;
    display: block;
    background-color: green;
    width: 10px;
    height: 10px;
    border: black 1px solid;
}

.greenBox p {
    color: #717171;
    margin-left: auto;
    padding-left: 15px;
    width: 300px;
}




.left {
	float: left
}

.right {
	float: right
}

.alignright {
	text-align:right;
}

.title {
	margin-bottom:18px;
}

.ui-widget-content {
    border: 1px solid;
    border-color: #000000;
}

h3.title {
	font-size: 25px;
	font-weight: 700;
	line-height:1.0em;
	margin-bottom:7px;
}

a {
	outline:none;
}

a:hover {
	text-decoration:none;
}

.form-table th {
	padding: 2px;
	white-space:nowrap;
	font-weight: bold;
	text-transform: uppercase;
}
.form-table td {
	padding: 2px;
}
.form-table td.error {
	border: 0px solid;
}
.form-table td.error input, .form-table td.error select {
	border: 2px solid #a82418;
}

.form-table.horizontal th, .form-table.horizontal td {
	padding: 1px 7px;
	vertical-align: middle;
}

form .error_list {
	color: #a82418;
	list-style: none;
	margin: 0;
	padding: 0;
	clear: left;
}

input.error, .error {
	border-color: #a82418;
	border-style: solid;
}

input.warning, .warning {
	border: 2px solid orange;
}

label.error, td.hcn_error {
	color: #a82418;
}

label.warning {
	color: orange;
}

label.error, label.warning {
	border: 0px solid white;
	display: block;
	clear: left
}

input.fadedinput {
    opacity: 0.5;
}

input.redbtn {
    background: #eb1a1a;
    background-image: -webkit-linear-gradient(top, #eb1a1a, #a62424);
    background-image: -moz-linear-gradient(top, #eb1a1a, #a62424);
    background-image: -ms-linear-gradient(top, #eb1a1a, #a62424);
    background-image: -o-linear-gradient(top, #eb1a1a, #a62424);
    background-image: linear-gradient(to bottom, #eb1a1a, #a62424);
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 0px #c2c2c2;
    -moz-box-shadow: 1px 1px 0px #c2c2c2;
    box-shadow: 1px 1px 0px #c2c2c2;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 6px;
    text-decoration: none;
}

input.redbtn:hover {
    text-decoration: none;
}

input.ui-button-inline, button.ui-button-inline {
	font-size: 9px;
	padding: 1px 5px;
	margin-left: 3px;
}

input.ui-button-midline, button.ui-button-midline {
	font-size: 11px;
	padding: 3px 5px;
}

input.required {
	background-color: #ffcc66;
}

#patient_reason_code_id {
    background-color: #ffcc66;
}

#form_message {
	float: left;
	display: none;
}

.clickable_row, .pointer {
	cursor: pointer
}

tr.current_edit td {
	font-style: italic;
}

tr.active_row td {
	font-weight: bold;
}

td .no_overflow {
	overflow: hidden;
}

th.right {
	text-align: right;
	float: none;
}

.small_row {
	line-height: 1.0em;
	font-size: 1.0em;
}

.grey_border {
	border: 2px solid grey;
	-moz-border-radius: 3px;
	padding: 5px;
	margin: 5px;
}

.dashboard_widget {
	border: 2px solid grey;
	-moz-border-radius: 3px;
	padding: 5px;
	margin: 5px;
	width: 95%;
}

.dashboard_widget.right {
	padding-left: 1%;
	clear: right;
}

.dashboard_widget.left {
	clear: left;
}

.dashboard_widget.full_width {
	width: 98%;
}

.dashboard_widget td {
	line-height: 1.6em;
	padding-right: 10px;
}

.radio_list, .single_line, .quarter_line {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.radio_list li, .single_line li, .checkbox_list li.single_line {
	list-style: none;
	display: block;
	float: left;
	padding-right: 10px;
}

li.quarter_line {
	list-style: none;
	display: block;
	float: left;
	width: 25%;
}

.actual_list {
	list-style: circle inside;
	margin-left: 40px;
}

.pretty h4, h4.pretty {
	font-size: 1.3em;
	line-height: 2em;
	margin: 0;
}

.ui-datepicker a.ui-state-default.ui-state-active {
	background: #D10005;
}

.ui-autocomplete {
	font-size: 12px;
}

.nowrap {
	white-space: nowrap;
}

.nowrap label.error {
	white-space: normal;
}

.quick_service_codes div, .direct_service_codes div {
	padding: 1px 5px;
	margin: 0px 4px;
}

.quick_service_codes, .direct_service_codes {
	margin-bottom: 7px;
}

.quick_report_item {
	font-size: 1.5em;
}

.quick_report_item.mouseover {
	background-color: #F0F0F6;
}

#reports_widget .mouseover {
	cursor: pointer;
}

.quick_report_item .bignum {
	height: 40px;
	float: left;
	color: red;
	padding: 0px 10px;
	text-align: center;
	line-height: 40px;
	font-size: 18pt;
	font-weight: bold;
}

.quick_report_item .text {
	height: 40px;
	line-height: 40px;
	font-size: 0.9em;
}

tr.follow_up.incomplete td {
	color: red;
}

div.success-msg {
	line-height: 40px;
	border: green 2px solid;
	background: #ddd;
	padding-right: 20px;
}

.error-text {
	color: red;
}

.success-text {
	color: green;
}

.flash_message {
	border: 2px solid grey;
	font-weight: bold;
	font-size: 1.1em;
	padding: 5px;
	margin: 5px 0px;
}

.message {
	padding: 1px 5px;
}

.calendar_table {
	border-top: 1px solid black;
}

.flash_notice {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	color: #717171;
	border: 2px solid #717171;
	padding: 2px;
	margin: 2px;
}

.flash_notice.error {
	border-color: #a82418;
	color: #a82418;
}

.doctors_appt_menu:before, .claims_menu:before {
	content: attr(data-menutitle);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #DDD;
    padding: 2px;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}



.doctors_appt_menu :first-child, .claims_menu :first-child {
	margin-top: 20px;
}

.doctors_appt_menu li ul :first-child, .claims_menu li ul :first-child {
	margin-top: 0px;
}

table.versionHistoryTable td.highlightDifferences {
	background-color: yellow;
}


.tour-btn {
    background-color: firebrick;
    color: floralwhite;
    font-weight: 400;
    font-family: monospace;
    padding: 1px 3px 1px 3px;
    margin-top: 5px;
    margin-left: 10px;
    border: none;
}

.tour-btn:hover {
    color: rosybrown;
}
