* {
	margin: 0;
	padding: 0;
}

body {
	background:#e0e2e2;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	position:relative;
}

header {
	height:85px;
	border-bottom:1px solid #f4f5f5;
	background:url('../../images/red_template/header-splash.png') no-repeat 50% 0 #323639;
}

* + html #header {
	position:relative;
	z-index:2;
}

header .logo {
	margin-left:10px;
	padding-top:0px;
	margin-bottom:5px;
}

header .metalist {
	position: absolute;
	right: 0px;
	top: 8px;
}

header .metalist ul {
	margin:0;
	padding:0;
	color:#fff;
}

header .metalist ul li {
	float:left;
	list-style-type:none;
	padding:0 15px 0 0;
	margin:0;
	background:none;
	border:none;
}

header .metalist ul li a {
	color:#fff;
	text-decoration:none;
}

header .metalist ul li a:hover {
	color:#fff;
	text-decoration:none;
}

nav.primary {
	position:relative;
/*	z-index:2; */
	margin-top:10px;
	height:30px;
	border-bottom:1px solid #b6b7b8;
	background-color: #dedfe0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cdcfd0));
	background-image: -webkit-linear-gradient(top, #fff, #cdcfd0);
	background-image: -moz-linear-gradient(top, #fff, #cdcfd0);
	background-image: -ms-linear-gradient(top, #fff, #cdcfd0);
	background-image: -o-linear-gradient(top, #fff, #cdcfd0);
	background-image: linear-gradient(top, #fff, #cdcfd0);
}

.no-cssgradients nav.primary {
	background:url('../../images/red_template/sf-menu-bg.gif') 0 0 repeat-x #cdcfd0;
}

#content_box {
	position:relative;
/*	z-index:1; */
	background:url('../../images/red_template/body-tail.gif') 0 0 repeat-x #f4f5f5;
	padding: 15px 20px;
}

#footer {
	background:#323639;
	padding:5px 15px 15px 15px;
	color: #ffffff;
	border-top: 1px solid #F4F5F5;
}

.info1 {
    padding-top: 5px;
}

#footer .text-bot {
	font-size: 1.2em;
	padding-top: 10px;
}

#footer .info2 {
	color: #C0C7CD;
	font-size: 14px;
	padding-bottom: 4px;
	text-transform: uppercase;
}

#footer .infolink {
    text-decoration: none;
}

#footer .menu-bot li {
	display: inline;
	padding-left: 3px;
}

input.ui-button {
	text-transform: uppercase;
}

table tbody tr .log_text div {
	height: 100px;
	overflow-y: scroll;
}

table tbody tr .log_text div pre {
	border: 0px;
}

.scrollable_div {
    height: 100px;

    resize: vertical;
    overflow-y: auto;
    overflow-x: hidden;
}



#errors {
    margin-top: 5px;
    padding-top: 5px;
    font-size: 1.2em;

}

#visualization {

    margin-bottom: 5%;
    margin-top: 5%;
}
