/* Essential styles for dropdown menu */
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			220px; /* left offset of submenus need to match (see below) */
}

.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			35px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			220px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			220px; /* match ul width */
	top:			0;
}

/* Our skin for dropdown menu */
.sf-menu {
	float:			left;
	padding:0 10px 0 10px;
}
.sf-menu a {
	text-decoration:none;
	color:			#9da3a8;
}
.sf-menu li {
	background:none;
	border:none;
}

.sf-menu > li > a {
		display:block;
		margin:-8px 9px 0 0;
		padding:14px 10px 6px 10px;
		color:#2e3235;
		font-size:16px;
		line-height:1.2em;
		position:relative;
		}
	.sf-menu > li > a:hover,
	.sf-menu > li.sfHover > a,
	.sf-menu > li.current-menu-item > a {
		color:#fff;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#d10005), to(#b70004));
		background-image: -webkit-linear-gradient(top, #d10005, #b70004);
		background-image:    -moz-linear-gradient(top, #d10005, #b70004);
		background-image:     -ms-linear-gradient(top, #d10005, #b70004);
		background-image:      -o-linear-gradient(top, #d10005, #b70004);
		background-image:         linear-gradient(top, #d10005, #b70004);
		box-shadow:3px 3px 4px rgba(0, 0, 0, .4);
		}

.sf-menu > li > a i {
		display:block;
		position:absolute;
		right:-11px;
		top:0;
		width:11px;
		height:11px;
		}

	.no-cssgradients .sf-menu > li > a:hover,
	.no-cssgradients .sf-menu > li.sfHover > a,
	.no-cssgradients .sf-menu > li.current-menu-item > a{
		background:#c60005;
		}

	/* 1-st submenu */
	.sf-menu ul {
		background:#384147;
		padding:16px 0 11px 0;
		}
		.sf-menu li li {
			line-height:18px;
			padding:0 11px 7px 18px;
			width:auto;
			float:none;
		}
			.sf-menu li li a {
				color:#9da3a8;
				text-decoration:none;
				}
			.sf-menu li li a:hover {
				color:#fff;
				}

	/* 2-nd submenu */
	.sf-menu ul ul {
		background:#555d63;
		}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .sf-menu li.current-menu-item > a {
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px;
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em;
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url(images/arrows-ffffff.png) no-repeat -10px -100px;
}
a > .sf-sub-indicator {
	top:			.8em;
	background-position: 0 -100px;
}

a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px;
}

.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0;
}

.sf-shadow ul {
	background:	url(images/shadow.png) no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

