html {width:100%; background:url(../images/theme/background_html.gif) 0 0 repeat #267533;}
body {background:url(../images/theme/texture.gif) 0 0 repeat;}
.bg {background:url(../images/theme/background_bg.gif) 0 0 repeat-x;}
.bg2 {width:100%; background:url(../images/theme/background_bg2.gif) 0 bottom repeat-x;}
.menu li a {color:#ffffff; background: #84c449 url(../images/theme/tab_left.gif) 0 bottom no-repeat;}
.menu li a strong {background:url(../images/theme/tab_right.gif) right bottom no-repeat;}
.menu li.selected a { color: #000 }
.menu li .active, .menu li a:hover {color:#FFCC66; }
.logo { padding-top: 2px; }

.wc-cal-event { border: 1px solid #fff;}
div.status_conflict { font-weight: normal; }

.ui-datepicker .ui-widget-header select, .ui-datepicker .ui-widget-header option { background-color: #297537; }

.ui-datepicker tr td a.ui-state-default { background: #fff }
.ui-datepicker tr td a.ui-state-default { border: 2px solid #fff }
.ui-datepicker a.ui-state-default.active_date, .ui-datepicker a.ui-state-highlight.active_date2 { border: 2px solid #1C94C4; }
.ui-datepicker a.ui-state-default.active_date2, .ui-datepicker a.ui-state-highlight.active_date2 { color: red }

.ui-datepicker a.ui-state-default.ui-state-active { background: #ccc; }
.ui-datepicker a.ui-state-default.ui-state-highlight { background: #FFFFCC; }
