footer, footer#footer {
	width:100%;
	background:url(../images/MDC_footer.gif) 0 bottom repeat-x;
	padding: 0px;
}

body {
	background: url("../../images/red_template/body-tail.gif") repeat-x scroll 0 0 #F4F5F5;
}

/*
html {
	width:100%;
	background: #fefbdb;
}

.ui-state-default.active_date { font-size: 1.2em; font-style: italic; border: 1px solid #1C94C4; }
.inactive_date { font-size: 1.0em; font-weight: normal; font-style: none; }

.ui-state-default.active_date2 { color: red }

#footer {
	bottom-padding: 0px;
}

*/