/* ThemeRoller UI Lightness override style sheet for jQuery date picker v4.0.0. */
@import "ui.datepick.css";

.ui-widget-header a,
.ui-widget-header select {
	color: #ffffff; /* Set (.ui-widget-header a) colour from theme here */
}

.ui-widget-header select,
.ui-widget-header option {
	background-color: #d10005; /* Set (.ui-widget-header) background colour from theme here */
}
.ui-state-highlight a {
	color: #363636; /* Set (.ui-state-highlight) colour from theme here */
}
