/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Oct, 2017, 11:31:01 AM
    Author     : sunil
*/
.hover-black:hover{color:#000;}
.cursor{cursor: pointer;}
.footer ul{
    list-style-type: none;
    display: inline;
    padding:0px;
}
.hasDatepick{border-radius: 0px !important;}
/*.ui-datepicker-current-day{background-color:#47a447 !important}*/
.ui-datepicker-current-day a{background-color:#47a447 !important;color:#fff !important;border-radius: 4px}

.footer li{
    display:inline;
    padding:0px 10px;
    border-right: 1px #aaa solid;
}

.ui-widget-overlay, .ui-dialog{
    z-index: 9000;
}

.from-control{border-radius: 0 !important;}
.ui-dialog 
{
/*top:10% !important;*/
}
div.timepicker{z-index: 9999;}
.ui-widget{ border:none !important;font-size: 14px !important;}
.input-group-btn button{border:1px #ccc solid !important;}
.ui-widget-overlay{
    position: fixed !important;
}
.main-navigation{
    z-index: 100 !important;
}
.ui-datepicker{border : 1px #aaa solid !important;}
.sk-margin-bottom-10{
    margin-bottom: 10px;
}
.sk-nomargin{
    margin:0px !important;
}
.sk-select{
        padding: 5px;
        background-color: #fff;
}

.ui-dialog{
    padding:0px !important;
    border-radius: 0px !important;
    font-family: 'Raleway', 'sans-serif' !important;
}
.ui-corner-all{
    border-radius: 0px !important;
}

.wc-settings:hover{cursor: url}
.wc-nav .ui-icon{float: left !important;}
.wc-nav .ui-button-text-icon-primary, .ui-icon{margin-top:0px !important}
.wc-nav .ui-button-text{float: right !important;}
.wc-nav button{border-radius: 0px !important; border: 1px #aaa solid !important; padding:5px}

radio_list ul li, .pro-ul-li ul li {
    list-style-type: none;
    display: inline;
}
.sk-ulli ul li{
    list-style-type: none !important;
}

input[type=radio] {
    width:15px;
    height:15px;
}
input[type=checkbox] {
        width: 16px;
    height: 16px;

}
input >  .error{
    border:1px #a94442 solid !important; 
}
.navbar > .container .navbar-brand, .logo{
    padding:5px 10px 12px !important;
}
/*.error_list li {list-style-type: none;color:red;}*/
.sk5mar{margin:5px;}
.clickable_row{cursor: pointer}

    @media screen and (max-width: 360px) {
    #hl7TableSrs  td, #hl7TableSrs th{
        display:block !important;
    }
    #triggerButtonsTable td {
        display:block !important;
    }
}